.vscode/**
.vscode-test/**
src/**
.gitignore
tsconfig.json
**/*.ts
**/*.map
*.vsix
.eslintrc*

# Exclude node_modules except runtime dependencies
node_modules/**
!node_modules/sql.js/**
!node_modules/keytar/**
